body {
  background-color: #fcfcfc;
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 2rem;
}

h1, h2, h3,
h4, h5, h6,
p {
  margin: 0;
}

#modal {
  display: none;
}


#modal.on {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0,0,0,0.32);
  overflow: hidden;
  z-index: 5;
}

#modal.on .close {
  color: black;
  font-size: 20px;
  display: flex;
  width: 3%;
  margin-left: auto;

}

#modal.on .close:hover {
  cursor: pointer;
}

#modal.on .employeeCard {
  width: 80%;
}

#modal.on .employeeCard .container {
  padding-top: 0;
  position: relative;
  z-index: 6;
}

#modal.on .employeeInfo .details,
#modal.on .employeeInfo .cell,
#modal.on .employeeInfo .birthdate,
#modal.on .employeeInfo .street,
#modal.on .employeeInfo .state {
  display: block;
  color: #bcc2c5;
}

#modal.on .employeeInfo .details {
  border-top: 1px solid;
}

#modal.on .employeeInfo .street {
  display: inline-block;
}

#modal.on .employeeInfo h3 {
  margin-top: .5rem;
}

#modal.on .employeePhoto {
  width: 40%;
  margin-bottom: 15px;
}

#modal.on .button {
  position: absolute;
  height: 100%;
}

#modal.on #prev {
  left: 0;
  z-index: 20;
}

#modal.on #next {
  right: 0;
  z-index: 20;
}

#modal.on .button span:hover {
  cursor: pointer;
}

#modal.on .button span {
  color: #fff;
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  height: 100%;
}

.title {
  text-transform: uppercase;
  font-weight: 600;
  color: #4c4c4c;
  margin-bottom: 1rem;
  text-align: center;
  padding: 2rem 0 0;
}

.search {
  text-align: center;
  margin-bottom: 1rem;
}

#searchbox {
  width: 80%;
  padding: 10px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
}

#employeeList {
  width: 90%;
  margin: auto;
}

ul {
  list-style: none;
}

#employees {
  display: grid;
  grid-row-gap: 1rem;
}

.employeeCard {
  background-color: #fff;
  border: 3px solid #e4e4e4;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all .2s ease-in;
  padding: 15px;
}

#employeeList .employeeCard:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.employeePhoto, .employeeInfo {
  display: flex;
}

.employeePhoto {
  width: 25%;
  margin: auto;
}

.employeePhoto img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.employeeInfo {
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.employeeInfo p {
  margin-top: .5rem;
}

.employeeName, .street,
.city, .state {
  text-transform: capitalize;
  margin: 0;
}

.email, .city {
  color: #b6bcc0;
  font-weight: 400;
}

.employeeInfo .details {
  display: none;
}

@media screen and (min-width: 320px) {
  #modal.on .employeeCard {
    width: 65%;
  }

  #modal.on .button span {
    padding: .5rem;
  }

  #modal.on .employeeInfo .details {
    margin-top: 10px;
    padding-bottom: 10px;
  }

  .employeeInfo p {
    font-size: .85rem;
  }

}

@media screen and (min-width: 768px) {
  #modal.on .employeeCard {
      width: 45%;
      padding-top: 10px;
      padding-bottom: 10px;
  }

  #modal.on .employeeInfo .details {
    margin-top: 20px;
    padding-top: 20px;
  }

  #modal.on .button span {
    padding: 1.5rem;
  }

  #employees {
    grid-template-columns: 50% 50%;
  }

  .employeeCard{
    margin: 0 .5rem;
  }

  .employeeInfo p {
    font-size: .8rem;
  }
}

@media screen and (min-width: 1024px) {
  #modal.on .employeeCard {
      width: 30%;
  }

  #modal.on .container {
    display: unset;
  }

  #modal.on .employeePhoto {
    margin: auto;
  }

  #modal.on .employeeInfo {
    text-align: center;
  }

  #modal.on .close {
    width: 7%;
  }

  #employeeList {
    width: 95%;
  }

  #employees {
    grid-template-columns: 32.33% 32.33% 32.33%;
    justify-content: space-between;
  }

  .employeeCard {
   padding: 0;
   margin: 0;
  }

  .container {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-column-gap: 3%;
    padding: 1rem;
  }

  .employeePhoto {
    width: unset;
    margin: 0;
  }

  .employeeInfo {
    text-align: left;
    /* display: flex;
    justify-content: center;
    padding-left: 3px; */
  }

  h3.employeeName {
    font-size: 1rem;
  }

  .email, .city,
  #modal.on .employeeInfo .cell,
  #modal.on .employeeInfo .birthdate,
  #modal.on .employeeInfo .street,
  #modal.on .employeeInfo .state {
    font-size: .8rem;
  }
}
